<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/newMain.css">
    <!-- Main JS -->
    <script defer
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script defer src="/scripts/main.js"></script>
    <title>Log in</title>
  </head>
  <body>
      <nav class="flex">
        <div class="col flex-col">
            <div class="col"><h1><span class="welcome">WELCOME</span><span class="small-letter">TO</span></h1></div>
            <div class="col"><h1><span class="brand-logo">Travel Planner</span></h1></div>
        </div>
        <div>
            <a class="sign-up-button" href="/signup">SIGN UP</a>
        </div>
      </nav>

      <main class="content-opactity-wrapper flex f-a-center f-j-content">
        <div class="flex container-m">
            <form id="login" class="col flex-col">
                <div class="login-form">
                  <input type="email" id="email" name="email" placeholder="EMAIL" />
                  
                </div>
                <div class="login-form">
                  <input type="password" id="password" name="password" placeholder="PASSWORD" />
                  <button class="log-in-button" type="submit">LOG IN</button>
                </div>
              </form>
        </div>


      </main>

      <footer class="footer-opactity-wrapper">
        <section class="copyright">&copy; Jun Project 1 Inc.</section>
      </footer>
  </body>
</html>