<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Main JS -->
    <script defer
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script defer src="/scripts/main.js"></script>
    <title>Log in</title>
  </head>
  <body>
    <div class="wrap">
      <nav>
        <h1><span>WELCOME</span><span class="small-letter">TO</span> <br><span class="brand-logo">Travel Planner</span></h1>         
        <form id="login">
          <div class="login-form">
            <input type="email" id="email" name="email" placeholder="EMAIL" />
            <a href="/signup">SIGN UP</a>
          </div>
          <div class="login-form">
            <input type="password" id="password" name="password" placeholder="PASSWORD" />
            <button type="submit">LOG IN</button>
          </div>
        </form>           
      </nav>

      <main class="login content-opactity-wrapper"></main>

      <footer class="footer-opactity-wrapper">
        <section class="copyright">&copy; Brent & Jun Travel Inc.</section>
      </footer>
    </div>

  </body>
</html>