<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/drop.css">
    <script defer
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script defer src="/scripts/showProfile.js"></script>
    <script defer src="/scripts/trip.js"></script>
    <script defer src="/scripts/friends.js"></script>
    <title>Profile</title>
  </head>
  <body>
    <div class="wrap">
      <nav>
        <h1><span>WELCOME</span><span class="small-letter">TO</span> <br><span class="brand-logo">Travel Planner</span></h1>
        <a id="logout" href="/logout">Log Out</a>
        <section class="user-data" class="container"></section>
      </nav>

      
      </main>
    
      <footer class="footer-opactity-wrapper">
        <section class="copyright">&copy; Brent & Jun Travel Inc.</section>
      </footer>

    </div>   

  </body>
</html>