<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/newMain.css">
    <!-- Main JS -->
    <script defer
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script defer src="/scripts/main.js"></script>
    <title>Sign Up</title>
  </head>
  <body>


      <main class="content-opactity-wrapper flex f-j-content f-a-center">
          <!-- <form id="login" class="flex-col"> -->
            <fieldset class="login-form">
                <legend>
                    <div><h1><span class="welcome">WELCOME</span><span class="small-letter">TO</span></h1></div>
                </legend>
                <div class="logo"><h1><span class="brand-logo">Travel Planner</span></h1></div>
                
                <h2>Please give us your information</h1>
                  <form id="signup">
                    <div class="form-group">
                      <input type="text" id="name" name="name" placeholder="FIRST NAME" />
                    </div>
                    <div class="form-group"> 
                      <input type="text" id="lastName" name="lastName" placeholder="LAST NAME"/>
                    </div>
                    <div class="form-group">
                      <input type="email" id="email" name="email" placeholder="EMAIL"/>
                    </div>
                    <div class="form-group"> 
                      <input type="password" id="password" name="password" placeholder="PASSWORD"/>
                    </div>
                    <div class="form-group">
                      <input type="password" id="password2" name="password2" placeholder="CONFIRM PASSWORD"/>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="submit" />
                    </div>
                  </form>

            </fieldset>
          <!-- </form> -->
        </main>


    <div class="wrap">
      <nav>
          <h1><span>WELCOME</span><span class="small-letter">TO</span> <br><span class="brand-logo">Travel Planner</span></h1>
          <a href="/">HOME</a>
            <!-- <form id="login">
              <div class="login-form">
                <input type="email" id="email" name="email" placeholder="EMAIL" />
                <a href="/">HOME</a>
              </div>
              <div class="login-form">
                <input type="password" id="password" name="password" placeholder="PASSWORD" />
                <button type="submit">LOG IN</button>
              </div>
            </form> -->
      </nav>
      
      <main class="main-signup content-opactity-wrapper">
          <section class="form-section">

          </section>
      </main>

    </div>

  </body>
</html>