<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main CSS -->
    <!-- <link rel="stylesheet" href="/styles/section.css"> -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/drop.css">
    <script defer
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script defer src="/scripts/showProfile.js"></script>
    <title>Profile</title>
  </head>

  <body>
      <main>
        <div class="flex f-j-end">
            <section class="user-data" class="container"></section>
        </div>
        <div class='flex f-j-end margin-r padding'>
            <a class="margin-r" href="#">Search Friends</a>
            <a id="logout" href="/logout">Log Out</a>
        </div>
        <div class="flex-col f-j-content f-a-center" >
          <fieldset>
              <legend>
                  <div><h1><span class="welcome">WELCOME</span><span class="small-letter">TO</span></h1></div>
              </legend>
              <div class="logo"><h1><span class="brand-logo">Travel Planner</span></h1></div>

              <!-- Form Start Here -->
              <section class="content-opactity-wrapper flex margin-b">
                <div class="col flex-col">
                  <section class="user-trip">
                    <div class="dropdown-btn my-trips bg-blue">+ Create Trip</div>
                    <div class="dropdown-container">
                      <section class="flex">
                        <form id="form" class="col flex-col">
                          <!-- Trip Name -->
                          <div class="col flex-col margin-t-5">
                              <label for="name">Trip Name</label>
                              <input type="text" class="col" id="name" name="name">
                          </div>
                          <!-- Destination -->
                          <div class="col flex-col margin-t-5">
                            <label for="destination">Destination</label>
                            <input type="text" class="col" id="destination" name="destination">
                          </div>
                          <!-- Date -->
                          <div class='col flex'>
                              <div class="col flex-col margin-t-5">
                                  <label for="date_start">Start</label>
                                  <input type="date" class="col" id="date_start" name="date_start">
                                </div>
                              <div class="col flex-col margin-t-5">
                                  <label for="date_end">End</label>
                                  <input type="date" class="col" id="date_end" name="date_end">
                              </div>
                          </div>
                      

                          <!-- Adding Friends Area -->
                          <!-- <div class="dropdown-btn-add-friends margin-t">
                            + Add Friends
                          </div>
                          <div class="dropdown-container">
                              <div id="add-friends-section"></div>
                          </div> -->
                          <!-- Adding Friends Area -->

                          <!-- Adding Trips Area -->
                          <!-- <button class="dropdown-btn-add-trip">
                              + Add Activity
                          </button>
                          <div id="activities-section" class="dropdown-container">
                              <label for="activity">Activity Name :  </label>
                              <input type="text" class="col" id="activity" name="activity">
                              <button id="add">Add</button>
                          </div>

                          <div id="show-activities-area"></div> -->
                          <!-- Adding Trips Area -->

                          <!-- <div class="col flex-col margin-t-5">
                              <label for="activity">Activity</label>
                              <input type="text" class="col" id="activity" name="activity">
                          </div>
                          <div class="col flex-col margin-t-5">
                              <label for="description">Description</label>
                              <input type="text" class="col" id="description" name="description">
                          </div> -->

                          <div class="flex f-j-end">
                              <button class="submit" type="submit"> Add </button>
                              <button class="cancel">Cancel</button>
                          </div>
                        </form>
                      </section>
                    </div>
                  </section>
              </section>

              <div class='margin-b'>
                <div class="dropdown-btn margin-b bg-blue"> + My Trip</div>
                <div class="dropdown-container">
                  <section class='show-trip' class="container"></section>
                </div>
              </div>

              <div class='margin-b'>
                <div class="dropdown-btn margin-b bg-blue"> + Friends invite</div>
                <div class="dropdown-container">
                  <section class='trip-from-friend' class="container"></section>
                </div>
              </div>

          </fieldset>
        </div>
      </main>
  </body>
</html>