
.container {
  display: flex;
  flex: 1;
}


h2 {
  background-color: #73736f;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 18px;
  color: white;
  font-weight: 100;
  text-align: center;
}

h2 span {
  font-size: 15px;
}

h3 {
  padding: 10px;
  background-color: black;
  color: white;
}

/* ==== Heading ===== */


main {
  min-height: 100vh;
  display: flex;
  /* background-image: url("/friends-car.jpg"); */
  /* background-position: 200px 0px; */
  background-size: 100%;
  background-repeat: no-repeat;
}



.menu-controller {
  /* flex-basis: 300px; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.user-trip {
  padding: 20px;
  background-color: rgba(24, 78, 78, 0.6);
}
.friend-trip {
  padding: 20px;
  background-color: peachpuff;
}

/* .user-information {
  flex: 1;
} */

/* == Form Area == */

.form-section{
  background: rgba(186, 192, 186, 0.3);
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  border-radius: 30px;
  
}

label {
  margin-bottom: 5px;
}



.main-signup {
  display: flex;
  align-items: center;;
}






form {
  flex: 1;
}

form#signup .form-group{
  margin-bottom: 15px;
}

form#signup input:hover {
  transform: scale(1.05);
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}


input {
  flex: 1;
  height: 30px;
  background: rgb(241, 245, 241);
  font-size: 14px;
  font-weight: 400;
  color: #50504a;
  padding: 10px;
  border: none;
  
}

input[type=text]:focus {
  border: 2px solid #555;
}

input[type=email]:focus {
  border: 2px solid #555;
}

input[type=password]:focus {
  border: 2px solid #555;
}

input[type=date] {
  flex: 1;
}

input[type=submit] {
  flex: 1;
  background-color: #73736f;
  color: white;
  font-weight: 400;
  margin: 10px 0;
  float: right;
  cursor: pointer;
}

input[type=submit]:hover {
  border: 2px solid #555;
  /* transform: scale(1.02); */
}

  /* NAVIGATION */

  
.user-data {
  font-size: 14px;
  font-weight: 100;
  padding: 10px;
  color: #73736f;
}
  








/* ALERT */


.alert .container {
  margin-bottom: 0;
}
    .alert.error:first-of-type {
      margin: -30px auto 10px;
    }
    
    .alert.error {
      background-color: #f8d7da;
      max-width: 680px;
      padding: 20px;
      margin: 0 auto 10px;
      border: 1px solid #f5c6cb;
      border-radius: 4px;
      color: #721c24;
    }
    
    .input-error {
      background-color: #f8d7da;
      border: 2px solid #721c24;
    }
