@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.user-trip .dropdown-container {
    background-color: whitesmoke;
}

.user-trip input {
    background-color: rgba(126, 164, 194, 0.139);
    border-radius: 10px;
}

.user-trip label {
    color: rgb(8, 133, 235);
}

.dropdown-container {
    position: relative;
    display: none;
    text-align: left;
    border-radius: 0 0 10px 10px;
}

.dropdown-btn {
    font-weight: 800;
    font-size: 15px;
    padding: 10px;
    color: white;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.active {
    border-radius: 10px 10px 0 0;
}

.bg-blue {
    background-color: rgb(55, 147, 223);
}

.bg-white {
    background-color: whitesmoke;
    color: rgb(106, 102, 102);
    padding: 10px 0 10px 10px;
    line-height: 150%;
    font-weight: 400;
}

.green {
    color: rgb(31, 143, 31);
    font-weight: 800;
}

.blue {
    color: rgb(6, 136, 244);
    font-weight: 800;
}

.red {
    color: rgb(187, 49, 49);
    font-weight: 800;
}


/* == Checkout Style == */

.friend-label {
    display: block;
    position: relative;
    padding-top: 5px;
    padding-left: 35px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.friend-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.friend-label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .friend-label input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .friend-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .friend-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

#add {
    margin-left: 5px;
    background-color: burlywood;
    padding: 7px;
    height: 30px;
    font-weight: 200px;
    cursor: pointer;
}

.cancel, .submit, .save {
    color: whitesmoke;
    background-color: rgb(20, 130, 20);
    margin: 10px 20px 10px 0;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    float: right;
}

.save {
    margin-top: 5px;
}


.delete, .remove, .cancel {
    padding: 5px;
    margin: 10px 5px;
    color: white;
    background: rgb(235, 77, 3);
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.update {
    padding: 5px;
    color: white;
    background: rgba(255, 166, 0, 0.906);
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}


/* -- Arange Form -- */
.float-right {
    padding: 5px 5px 0 0;
    text-align: right;
}

.set-left {
    color: whitesmoke;
    margin: 5px 0;
    border-bottom: 1 solid black;
}

.center {
    text-align: right;
    padding: 10px 0;
}

/* -- Animation -- */

a:hover, button:hover {
    transform: scale(1.05);
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border: 2px solid #555;
}

.delete:hover, .remove:hover, .update:hover, #add:hover, .cancel:hover, .submit:hover {
transform: scale(1.05);
}