.dropdown-btn {
    margin-top: 20px;
    padding: 30px;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background-color: black;
    text-align: left;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.dropdown-btn-add-trip {
    margin-top: 20px;
    padding: 30px;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background-color: black;
    text-align: left;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.active {
    background-color: rgb(68, 71, 68);
    color: white;
    }


.dropdown-container {
    display: none;
    background-color: #3a2626;
}

.dropdown-btn:hover { 
    transform: scale(1.01); 
    box-shadow: 10px 10px 10px rgb(194, 184, 184);
}