@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  letter-spacing: 0.01em;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: whitesmoke;
}

body {
    background-color: rgb(221, 95, 86);
    position: relative;
    max-width: 650px;
    height: auto;
    margin: 0 auto;
}

a, button{
    cursor: pointer;
    border: none;
}

h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 100;
}

h4 {
    margin: 20px 0px 10px 10px;
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.content-opactity-wrapper {
    width: 100%;
}

#profile {
    cursor: pointer;
}

#add-friends-section {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgba(0, 0, 0, 0.294); */
    
}

/* ======== Manage All Form =======  */
input {
    background: rgb(246, 249, 246);
    color: rgb(76, 71, 71);
    font-size: 14px;
    padding: 10px;
    border: none;
}

label {
    color: whitesmoke;
    margin-bottom: 10px;
    font-weight: 800;
}

.welcome {
    font-size: 27px;
    font-weight: 800;
    padding-left: 10px;
    color: whitesmoke;
}

.small-letter {
    font-size: 13px;
    padding: 0 10px;
}

.brand-logo {
    padding-left: 30px;
    padding-top: 5px;
    letter-spacing: 0.09em;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    font-weight: 300;
}

fieldset {
    width: 90%;
    padding: 0 20px;
    padding-bottom: 30px;
    border-color: rgb(235, 235, 220);
}


fieldset#home {
    height: 600px;
}

/* ======== Manage First Page Log-in Form =======  */

.log-in-button, .sign-up-button {
    font-size: 14px;
    font-weight: 900px;
    color: whitesmoke;
    border-radius: 10px;
    background-color: transparent !important;
    text-decoration: underline;
}

/* ======== Manage Main Area =======  */

main {
    position: sticky;
    height: 100vh;
    background-image: url("/red.jpg");
    background-size: cover;
    background-position: 20px 0px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
}

/* ==============  */
/* p {
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    color: white;
} */

.user-data {
font-size: 14px;
font-weight: 100;
padding: 10px;
color: #73736f;
margin: 10px 10px 0 0;
}

.trip_detail {
    background-color:black;
    padding: 10px;
    line-height: 150%;
    border-radius: 5px;
}

.activity-detail {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2.2px;
    margin-bottom: 10px;
    color: whitesmoke;
}
.activity_information {
    border-radius: 10px;
}

#activity-form {
    display: none;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.col {
    flex: 1;
}

.basic {
    flex-basis: 140px;
}

.f-a-center {
    align-items: center;
}

.f-j-content {
    justify-content: center;
}

.f-j-end {
    justify-content: flex-end;
}

.f-j-item {
    justify-items: flex-end;
}

.logo {
    margin-bottom: 20px;
}

.margin-t-5 {
    margin-top: 5px;
}

.margin-t {
    margin-top: 10px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-b {
    margin-bottom: 10px;
}

.margin-r {
    margin-right: 10px;
}

.margin-l {
    margin-left: 10px;
}

.padding {
    padding: 10px;
}

/* ALERT */

.alert {
    /* margin: 0 20px;
    margin-bottom: 10px; */
    padding: 5px;
    color: rgb(235, 174, 184);
    background-color: #94303a;
}

.alert .container {
    margin-bottom: 0;
}
.alert.error:first-of-type {
    margin: -30px auto 10px;
}

.alert.error {
    background-color: #f8d7da;
    max-width: 680px;
    padding: 20px;
    margin: 0 auto 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    color: #94303a;
}

.input-error {
    background-color: #f8d7da;
    border: 2px solid #721c24;
}