@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: whitesmoke;

}

body {
    position: relative;
    max-width: 550px;
    height: auto;
    margin: 0 auto;
}

a, button{
    cursor: pointer;
    border: none;
    float: right;
}

/* ======== Manage All Form =======  */
input {
    flex: 1;
    height: 28px;
    background: rgb(241, 245, 241);
    font-size: 13px;
    font-weight: 400;
    color: #50504a;
    padding: 10px;
    border: none;
}

label {
    font-size: 14px;
    color: whitesmoke;
    margin-bottom: 5px;
}

/* ======== Manage All Nav Bar =======  */
nav {
    align-items: center;
    padding: 10px 0;
    width: 100%;
    background-color: #e4d8d3;
    border-bottom: solid 1px #73736f;
    border-top: solid 1px #73736f;
}

.welcome {
    font-size: 25px;
    font-weight: 800;
    padding-left: 10px;
    color: whitesmoke;
}

.small-letter {
    font-size: 13px;
    padding: 0 10px;
}

.brand-logo {
    padding-left: 30px;
    padding-top: 5px;
    letter-spacing: 0.09em;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    font-weight: 300;
}

form#login {
    width: 90%;
}

fieldset {
    height: 600px;
    border-color: rgb(235, 235, 220);
}

.login-form {
    padding: 0 30px;
    
}
/* ======== Manage First Page Log-in Form =======  */

.log-in-button, .sign-up-button {
    font-size: 14px;
    font-weight: 900px;
    color: whitesmoke;
    border-radius: 10px;
    background-color: transparent !important;
    text-decoration: underline;
}

/* ======== Manage Main Area =======  */

main {
    position: sticky;
    height: 100vh;
    background-image: url("/red.jpg");
    background-size: cover;
    background-position: 20px 0px;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.9; */
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.col {
    flex: 1;
}

.f-a-center {
    align-items: center;
}

.f-j-content {
    justify-content: center;
}

.logo {
    margin-bottom: 30px;
}

.margin-t {
    margin-top: 10px;
}

.margin-b {
    margin-bottom: 10px;
}

.margin-r {
    margin-right: 10px;
}

.padding {
    padding: 10px;
}